<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level [%L] %logger{36} - %msg%n"/>
        </Console>

        <File name="FileAppender" fileName="logs/redis_pulse.log">
            <PatternLayout pattern="%d [%t] %-5level [%L] %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="FileAppender" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
